.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 700px;
  margin: 0 auto; 
  background-color: #f4f4f4;
}
.quiz-container {
  height: 100%;
  width: 100%;
  background-color: rgba(175, 156, 243, 1); /* Color background for the entire container */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; 
  overflow: auto;
  position: relative; /* Ensure absolute positioning works correctly */
}

.confetti {
  width: 100%;
  height: 25%; /* Takes up top 1/4th */
  background: url('/images-frontend/confetti.png') no-repeat center center;
  background-size: 100% 60%;
  z-index: 1;
  /* Overlay color with blend mode to apply the color */
  background-color: rgba(175, 156, 243, 0.5); /* Adjust opacity to control how the color blends */
  mix-blend-mode: multiply; /* Apply the blend mode */
  background-position: top;
}

.quiz-header {
  background-color: white;
  width: 100px;
  height: 100px;
  position: relative; /* Maintain positioning context for children */
  top: 15%; /* Adjust as needed */
  z-index: 2; /* Ensure it's above other elements */
  border-radius: 50%; /* Make it a circle */
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.progress-text {
  position: absolute; /* Positioned relative to quiz-header */
  font-size: 16px; /* Adjust font size */
  color: black;
  font-weight: bold;
  font-family: cursive;
}

.current-question {
  font-size: 2.4rem; /* Larger size for current question */
}

.total-questions {
  font-size: 1rem; /* Smaller size for total questions */
  color: grey;
}

.circular-progress-container {
  position: relative; /* Ensure it doesn’t affect other elements */
  width: 100%;
  height: 100%;
}

.quiz-form::-webkit-scrollbar {
  display: none;
}

.quiz-form {
  background: white;
  text-align: center;
  padding: 20px;
  border-radius: 20px 20px 0 0; 
  flex: 1;
  overflow-y: auto;
}

.quiz-form h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.quiz-form img {
  max-width: 100%;
  max-height: 350px; /* Limit the height */
  width: auto;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  object-fit: cover; /* Ensures the image retains its aspect ratio */
}

.quiz-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f0f0f0;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checked-option {
  border: 3px solid rgba(68, 183, 123, 1);
}

.option-text {
  padding-left: 10px;
  margin-bottom: 2px;
  font-size: 18px;
}

.option-label:hover {
  background-color: #e0e0e0;
}

/* Hide the default checkbox */
.option-label input[type="checkbox"] {
  appearance: none; 
  -webkit-appearance: none; 
  width: 24px; 
  height: 24px; 
  border-radius: 50%; 
  border: 2px solid #ddd; 
  cursor: pointer; 
  position: relative; 
  outline: none; 
  background-color: white; 
}

/* Style for the checkbox when checked */
.option-label input[type="checkbox"]:checked {
  background-color: rgba(68, 183, 123, 1);; 
  border-color: #4CAF50; 
}

/* Create the checkmark */
.option-label input[type="checkbox"]:checked::after {
  content: ''; 
  position: absolute;
  top: 48%;
  left: 29%;
  width: 6px; 
  height: 12px; 
  border: solid white;
  border-width: 0 3px 3px 0; 
  transform: rotate(38deg) translate(-50%, -50%) ; 
  transform-origin: center;
}

.quiz-footer {
  margin-top: auto;
}
